# Order is important. The last matching pattern has the most precedence.

*                              @chef/chef-oss-process-and-practices
.expeditor/**                  @chef/jex-team
projects/chef-foundation.md    @chef/chef-foundation-owners
projects/chef-infra.md         @chef/chef-infra-owners
projects/chef-infra-server.md  @chef/chef-infra-server-owners
projects/chef-workstation.md   @chef/chef-workstation-owners
projects/supermarket.md        @chef/supermarket-owners
projects/automate.md           @automate-maintainers